@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* font-family: 'Questrial', sans-serif; */
@import url('https://blogfonts.com/css/aWQ9NTU2JnN1Yj01NTYmYz1sJnR0Zj1saWJyYS1zZXJpZi1tb2Rlcm4ucmVndWxhci5vdGYmbj1saWJyYS1zZXJpZi1tb2Rlcm4tcmVndWxhcg/Libra Serif Modern Regular.otf" rel="stylesheet');
/* font-family: 'libra-serif-modern-regular', sans-serif; */


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #D9D9D9;
    ;
}

/*Header*/


.inicio-img-LEIM {
    width: 11.11em;
}

.inicio-titulo-colegio {
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-left: 2.2em;
    margin-bottom: 2.7em;
    text-align: center;
}

.nav-titulo-colegio {
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-top: 10px;
}


.nav-home {
    display: flex;
    justify-content: space-between;
    background-color: #022E40;
    height: 50px;
    gap: 15px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

.nav-logotipo {
    display: flex;
    width: 50%;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.nav-titulo-colegio {
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.nav-user {
    width: 30px;
    height: 30px;

}

.nav-burger img {
    width: 30px;
}

.home-Familia {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 10px 10px 0px 0px;
}

.home-Familia h2 {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
    margin-top: 6px;
}

/*Header*/
/* main */
h1 {
    text-align: center;
    font-family: 'Questrial';
    color: #012F41;
    font-size: 3.4em;
}

.contenedor-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em;

}

.cubo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 20em;
    width: calc(33.3% - 20px);
    background-color: #4DA1A4;
    margin: 0.6em;
    border-radius: 1em;

}

.cubo p {
    font-size: 2em;
    font-family: 'Questrial';
    color: aliceblue;
}

.img-tramites {
    height: 10em;
    width: 10em;
    padding-bottom: 0.8em;
}

/* main */
/*Footer*/

.contenedor-footer {
    position: fixed;
    bottom: 0%;
    /* height: 3.5em; */
    width: 100%;
}

/* .img-footer{
    
} */